html,
body,
#root {
  height: 100%;
}
footer.bg-emeraldDark.text-white.py-10.mt-10 {
    margin: 0 !important;
}

.max-w-4xl.mx-auto.px-4.mt-20.text-center {
    margin-bottom: 30px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
